<%= stylesheet_link_tag 'buttons', :plugin => 'redmine_omniauth_ulogin' %>

<% if Setting.plugin_redmine_omniauth_ulogin[:oauth_authentification] %>

	<script src="//ulogin.ru/js/ulogin.js"></script>
	<div id="uLogin1" data-uloginid="<% Setting.plugin_redmine_omniauth_ulogin[:client_id] %>"></div>

<% end %>
